<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.NFC" />

    <permission android:name="android.permission.INJECT_EVENTS" />

    <!--  悬浮窗权限  -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <queries>
    <!--  API 30后，调用方，需要在<queries>中定义  -->
        <provider android:authorities="com.stone.cper" />

        <!--    获取已安装app，匹配的 intent   -->
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:name=".StoneApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--      静态的快捷菜单配置文件，必须指定在含有   action-main/category-launcher 所在 <activity/>中    -->
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>

        <activity
            android:name=".base.BaseActivity"
            android:exported="false"
            android:theme="@style/StoneBaseMaterialTheme" />
        <activity android:name="com.stone.stoneviewskt.ui.gray.BaseGrayActivity" />

        <activity
            android:name=".ui.materialdesign.MDActivity"
            android:exported="false"
            android:theme="@style/StoneBaseMaterialTheme" />

        <activity
            android:name=".ui.jumpfragment.JumpActivity"
            android:exported="false" />

        <activity
            android:name=".ui.nfc.NfcNdefActivity"
            android:exported="false">
            <!-- nfc类型有三种： NDEF，TECH，TAG，优先级依次降低 -->
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.nfc.NfcTechActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/filter_nfc" />
        </activity>

        <activity
            android:name=".ui.nfc.NfcTagActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.shortcut.ShortcutActivity1" />
        <activity android:name=".ui.shortcut.ShortcutActivity2" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.stone.stoneviewskt"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".service.CrossInterfaceService"
            android:exported="true"
            android:process=":CrossInterfaceService" />

        <service
            android:name=".service.SimulateService"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:process=":SimulateService">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <provider
            android:authorities="com.stone.cper"
            android:name=".ui.contentp.MyContentProvider"
            android:exported="true" />

    </application>

</manifest>